<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.js"></script>

    <script type="text/javascript" src="javascript.js"></script>

    <script type="text/javascript" src="data/data.js"></script>
    <script type="text/javascript" src="data/data-stat-follow.js"></script>
    <script type="text/javascript" src="data/current-num.js"></script>
    <script type="text/javascript" src="data/all-afns-test-result.js"></script>
</head>
<body ng-app="app" ng-controller="AppCtrl">

    <div class="container">

        <div class="well">
            预测结果：
            <button ng-repeat="item in predictNums" ng-class="{'btn-danger': !$last, 'btn-primary': $last}" class="btn" type="button">
                <span class="badge">{{item}}</span>
            </button>

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="predictLotteryNumbers()">算法一</button>
                <button class="btn btn-primary" ng-click="predictLotteryNumbers2()">算法二</button>
            </div>
        </div>

        <pre>执行命令查看是否出现过该组号码: node index.js -ia {{predictNums.join(',')}}</pre>

        <div class="row">
            <div ng-repeat="item in data" class="col-lg-2">
                <table class="table table-bordered">
                    <thead class="bg-info">
                    <tr>
                        <td colspan="2">{{item.title}}</td>
                    </tr>
                    <tr>
                        <td>号码</td>
                        <td>出现次数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subItem in item.data" ng-class="{'bg-danger': subItem.min, 'bg-success': subItem.max, 'bg-warning': subItem.match}">
                        <td>{{subItem.num}}</td>
                        <td>{{subItem.stat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div ng-repeat="item in dataStatFollow" class="col-lg-2">
                <table class="table table-bordered">
                    <thead class="bg-info">
                    <tr>
                        <td colspan="2">{{item.field}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">开奖号码: {{item.number}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subItem in item.stat">
                        <td class="bg-success">{{subItem.number}}</td>
                        <td>{{subItem.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div ng-repeat="item in allAFnsTestResult" class="col-lg-7">
                <table class="table table-bordered">
                    <thead class="bg-info">
                    <tr>
                        <td colspan="2">{{item.desc}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>准确率：{{item.successRate}}</td>
                    </tr>
                    <tr>
                        <td>准确率(<=1个误差)：{{item.nearSuccess1}}</td>
                    </tr>
                    <tr>
                        <td>准确率(<=2个误差)：{{item.nearSuccess2}}</td>
                    </tr>
                    <tr class="bg-danger">
                        <td>杀红球：{{item.killRedNums}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>